.KlassTrees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KlassTrees {
  padding: var(--sp-sm);
  margin: var(--sp-md);
  background-color: var(--col-pane);
  border-radius: 2px;
}

.KlassTrees-header {
  display: flex;
  padding: var(--sp-sm) 0;
  color: #fff;
}

.KlassTrees-header > *:not(:last-child) {
  margin-right: 1rem;
}

.KlassTrees-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(-1 * var(--sp-sm));
}
