.KlassTrees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KlassTrees {
  margin: var(--sp-md);
  background-color: var(--col-pane);
  border-radius: 2px;
}

.KlassTrees-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--sp-md) var(--sp-sm) 0 var(--sp-sm);
  color: #fff;
}

.KlassTrees-titleArea {
  display: flex;
  align-items: center;
}

.KlassTrees-titleArea > *:not(:last-child) {
  margin-right: 1rem;
}

.KlassTrees-summary {
  font-size: 0.825rem;
  color: var(--col-yellow);
}

.KlassTrees-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
