.Arrow-container {
  z-index: var(--z-index-arrow);
  pointer-events: none;
}

.Arrow {
  background-repeat: no-repeat;
}

.Arrow-container--right {
  padding-left: calc(var(--icon-size) - var(--sp-xxxs));
  padding-right: calc(var(--icon-size) - var(--sp-sm));
}

.Arrow--right {
  height: 100%;
  background-size: auto var(--arrow-thickness);
  background-repeat: no-repeat;
  background-position: right;
}

.Arrow-container--down {
  padding-top: calc(var(--icon-size) - var(--sp-xxxs));
  padding-bottom: calc(var(--icon-size) - var(--sp-sm));
}

.Arrow--down {
  height: 100%;
  background-size: var(--arrow-thickness) auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.Arrow-container--right-down {
  padding-left: calc(var(--icon-size) - var(--sp-xxxs));
  padding-right: calc((var(--icon-size) - var(--arrow-thickness)) / 2);
}

.Arrow--right-down {
  height: 100%;
  background-size: auto var(--arrow-thickness);
  background-repeat: no-repeat;
  background-position: right;
}

.Arrow-container--right-down-down {
  padding-top: calc((var(--icon-size) / 2) + var(--sp-sm));
  padding-bottom: calc(var(--icon-size) - var(--sp-sm));
}

.Arrow--right-down-down {
  height: 100%;
  background-size: var(--arrow-thickness) auto;
  background-repeat: no-repeat;
  background-position: bottom;
}
