.TalentTree {
  font-family: Verdana, sans-serif;
  background: var(--col-background);
  border: 1px solid var(--col-background);
  border-radius: 2px;
  margin: var(--sp-sm);
}

.TalentTree-header {
  margin: var(--sp-xs);
  display: flex;
  align-items: center;
}

.TalentTree-icon {
  margin-right: var(--sp-sm);
}

.TalentTree-name {
  color: white;
  margin-bottom: var(--sp-xs);
}

.TalentTree-pointsSpent {
  font-size: 0.75rem;
  color: var(--col-yellow);
}

.TalentTree-grid {
  display: inline-grid;
  padding: var(--sp-md);
  grid-template-columns: repeat(4, var(--icon-size));
  grid-template-rows: repeat(7, var(--icon-size));
  grid-gap: var(--sp-md);
  background-size: cover;

  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4"
    "d1 d2 d3 d4"
    "e1 e2 e3 e4"
    "f1 f2 f3 f4"
    "g1 g2 g3 g4";
}
