.TalentTooltip-content {
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
  line-height: 1.3;
  color: #fff;
}

.TalentTooltip-description {
  color: #ffd100;
  white-space: pre-wrap;
}

.TalentTooltip-title {
  font-size: 1rem;
}

.TalentTooltip-error {
  color: #ff4040;
}

.TalentTooltip-rank {
}

.TalentTooltip-clickToLearn {
  color: #1eff00;
}
