.TalentTree {
  display: inline-grid;
  padding: var(--sp-sm);
  grid-template-columns: repeat(4, var(--icon-size));
  grid-template-rows: repeat(7, var(--icon-size));
  grid-gap: var(--sp-md);
  background-size: cover;

  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4"
    "d1 d2 d3 d4"
    "e1 e2 e3 e4"
    "f1 f2 f3 f4"
    "g1 g2 g3 g4";
}
