.Talent-container {
  position: relative;
}

.Talent-pointCount {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 100% 100%;
  font-size: 0.75rem;
  pointer-events: none;
}

.Talent-pointCount--green {
  color: var(--col-green);
}

.Talent-pointCount--gold {
  color: var(--col-yellow);
}
