.TalentTooltip-content {
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
  line-height: 1.3;
  color: #fff;
}

.TalentTooltip-description {
  color: var(--col-yellow);
  white-space: pre-wrap;
}

.TalentTooltip-title {
  font-size: 1rem;
}

.TalentTooltip-error {
  color: var(--col-red);
}

.TalentTooltip-clickToLearn {
  color: var(--col-green);
}
